/* Fix broken GitHub CSS */
b, strong {
  font-weight: bold;
}

span.nb {
  white-space: nowrap;
}

ul.plugins,
ul.kdenlive {
  list-style: none;
  padding-left: 0;
}

ul.plugins li:before,
ul.kdenlive li:before {
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 0.5em;
}

ul.plugins li:before {
  content: "\f1e6";
}

ul.kdenlive li:before {
  content: "\f008";
}

ul.plugins li,
ul.kdenlive li {
  margin-bottom: 0.8ex;
}
